USE_LOCAL_DATA=true
FIREBASE_API_KEY=
AUTH_DOMAIN=
PROJECT_ID=
STORAGE_BUCKET=
MESSAGING_SENDER_ID=
APP_ID=
REVENUECAT_API_KEY=
REVENUECAT_TEST_API_KEY=
EAS_PROJECT_ID=
GARMIN_CLIENT_ID=
GARMIN_CLIENT_SECRET=
STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
